<!-- <app-view-vehicle></app-view-vehicle> -->
<header>
  <h2>Welcome To Dream Vehicles</h2>
</header>
<section>
  <article>
    <h1>Content</h1>
    <ul>
        <li>Register on the website</li>
        <li>Log in using crediantials</li>
        <li>View the vehicles</li>
        <li>add the vehicle(for admin only)</li>
        <li>edit the vehicles(for admin only)</li>
        <li>add to cart(for user only)</li>
        <li>remove from the cart(for user only)</li>
      </ul>
  </article>
</section>

<footer>
    <mat-icon>home</mat-icon>
    <mat-icon>favorite</mat-icon>
    <mat-icon>language</mat-icon>
    <mat-icon>thumb_up</mat-icon>

</footer>
   

